name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '**/README.md'
  workflow_dispatch:
    
env:
  IMAGE_NAME: dashboardfrontend

jobs:

  build:
    name: Build container image
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
        # Setup gcloud CLI
    - id: 'auth'
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}
        service_account: 'deft-stratum-290216@appspot.gserviceaccount.com'
        project_id: deft-stratum-290216
        export_default_credentials: true

    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v1'
      with:
        version: '>= 363.0.0'

    - name: 'Use gcloud CLI'
      run: 'gcloud info'

    - name: Deploy
      run: npm run deploy
